In [7]:
import pandas as pd

# Cargar datos desde un archivo CSV
df = pd.read_csv('C:/Users/sebac/OneDrive/Documentos/Cursos/0-DATASETS/titanic.csv')

In [8]:
# Ver las primeras y últimas filas del DataFrame1
print("Primeras filas del DataFrame:")
print(df.head())

Primeras filas del DataFrame:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [9]:
print("nÚltimas filas del DataFrame:")
print(df.tail())

nÚltimas filas del DataFrame:
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

In [10]:
# Obtener información general sobre el DataFrame
print("nInformación del DataFrame:")
print(df.info())

nInformación del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [11]:
# Generar estadísticas descriptivas
print("nEstadísticas descriptivas del DataFrame:")
print(df.describe())

nEstadísticas descriptivas del DataFrame:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [12]:
# Inspeccionar los tipos de datos de las columnas
print("nTipos de datos de las columnas:")
print(df.dtypes)

nTipos de datos de las columnas:
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [13]:
# Contar valores únicos en una columna específica
print("nConteo de valores únicos en la columna 'nombre_columna':")
print(df['Survived'].value_counts())

nConteo de valores únicos en la columna 'nombre_columna':
Survived
0    549
1    342
Name: count, dtype: int64

In [18]:
# Obtener valores únicos en una columna específica
print("nValores únicos en la columna 'nombre_columna':")
print(df['Sex'].unique())

nValores únicos en la columna 'nombre_columna':
['male' 'female']

In [21]:
# Obtener el número de valores únicos en una columna específica
print("nNúmero de valores únicos en la columna 'nombre_columna':")
print(df['Sex'].nunique())

nNúmero de valores únicos en la columna 'nombre_columna':
2

In [22]:
# Renombrar una columna
df.rename(columns={'columna_antigua': 'columna_nueva'}, inplace=True)
print("nDataFrame con columna renombrada:")
print(df.head())

nDataFrame con columna renombrada:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [28]:
# Cambiar el índice del DataFrame
df.set_index('Age', inplace=True)
print("nDataFrame con nuevo índice:",df)
print(df.head())

nDataFrame con nuevo índice:       PassengerId  Survived  Pclass  SibSp  Parch            Ticket     Fare  \
Age
22.0            1         0       3      1      0         A/5 21171   7.2500
38.0            2         1       1      1      0          PC 17599  71.2833
26.0            3         1       3      0      0  STON/O2. 3101282   7.9250
35.0            4         1       1      1      0            113803  53.1000
35.0            5         0       3      0      0            373450   8.0500
...           ...       ...     ...    ...    ...               ...      ...
27.0          887         0       2      0      0            211536  13.0000
19.0          888         1       1      0      0            112053  30.0000
NaN           889         0       3      1      2        W./C. 6607  23.4500
26.0          890         1       1      0      0            111369  30.0000
32.0          891         0       3      0      0            370376   7.7500

     Cabin Embarked
Age
22.0   NaN        S
38.0   C85        C
26.0   NaN        S
35.0  C123        S
35.0   NaN        S
...    ...      ...
27.0   NaN        S
19.0   B42        S
NaN    NaN        S
26.0  C148        C
32.0   NaN        Q

[891 rows x 9 columns]
      PassengerId  Survived  Pclass  SibSp  Parch            Ticket     Fare  \
Age
22.0            1         0       3      1      0         A/5 21171   7.2500
38.0            2         1       1      1      0          PC 17599  71.2833
26.0            3         1       3      0      0  STON/O2. 3101282   7.9250
35.0            4         1       1      1      0            113803  53.1000
35.0            5         0       3      0      0            373450   8.0500

     Cabin Embarked
Age
22.0   NaN        S
38.0   C85        C
26.0   NaN        S
35.0  C123        S
35.0   NaN        S

In [33]:

# Ordenar el DataFrame por una columna
df_ordenado = df.sort_values(by=['Age'])
print("nDataFrame ordenado por 'columna_orden':")
print(df_ordenado.head())

nDataFrame ordenado por 'columna_orden':
      PassengerId  Survived  Pclass  SibSp  Parch  Ticket     Fare Cabin  \
Age
0.42          804         1       3      0      1    2625   8.5167   NaN
0.67          756         1       2      1      1  250649  14.5000   NaN
0.75          645         1       3      2      1    2666  19.2583   NaN
0.75          470         1       3      2      1    2666  19.2583   NaN
0.83           79         1       2      0      2  248738  29.0000   NaN

     Embarked
Age
0.42        C
0.67        S
0.75        C
0.75        C
0.83        S

In [37]:

# Ordenar el DataFrame por múltiples columnas
df_ordenado_multi = df.sort_values(by=['Age', 'Parch'], ascending=[False, True])
print("nDataFrame ordenado por 'columna1' y 'columna2':")
print(df_ordenado_multi.head())

nDataFrame ordenado por 'columna1' y 'columna2':
      PassengerId  Survived  Pclass  SibSp  Parch    Ticket     Fare Cabin  \
Age
80.0          631         1       1      0      0     27042  30.0000   A23
74.0          852         0       3      0      0    347060   7.7750   NaN
71.0           97         0       1      0      0  PC 17754  34.6542    A5
71.0          494         0       1      0      0  PC 17609  49.5042   NaN
70.5          117         0       3      0      0    370369   7.7500   NaN

     Embarked
Age
80.0        S
74.0        S
71.0        C
71.0        C
70.5        Q